@charset "utf-8";
/* CSS Document */

.content-btn{
	margin: 0.5rem;
	padding: 1rem 2rem;
	border: none;
	background-color: white;
	font-weight: bolder;
	border-radius: 10px;
}
.content-btn:hover{
	color: white;
	background-color: #1A89EF;
}
.body-content{
	background-color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}